
<div mat-dialog-title>
<h1>Employee Form</h1></div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>firstname</mat-label>
            <input matInput type="text" placeholder="ex.tech" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>lastname</mat-label>
            <input matInput placeholder="eg.dhumal" formControlName="lastName">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput type="email" placeholder="ex.test@gmail.com" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>       
    </div>

    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label>Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="others">others</mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>education</mat-label>
            <mat-select formControlName="education">
                <mat-option *ngFor="let val of education" [value]="val">{{val}}
                </mat-option>
            </mat-select>
          </mat-form-field><mat-form-field appearance="outline">
            <mat-label>company</mat-label>
            <input matInput placeholder="eg.google" formControlName="company">
          </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Experience</mat-label>
        <input matInput placeholder="eg.4" type="number" formControlName="experince">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>package</mat-label>
        <input matInput placeholder="eg.12" type="number" formControlName="package">
        <mat-hint> in rupees</mat-hint>
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>

</div>
</form>